In [3]:
import json
import pandas as pd

from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

from flask import Flask
from flask import render_template, request, jsonify
import joblib
from sqlalchemy import create_engine

In [4]:
def tokenize(text):
    tokens = word_tokenize(text)
    lemmatizer = WordNetLemmatizer()

    clean_tokens = []
    for tok in tokens:
        clean_tok = lemmatizer.lemmatize(tok).lower().strip()
        clean_tokens.append(clean_tok)

    return clean_tokens

In [6]:
# load data
engine = create_engine('sqlite:////home/pavan/Downloads/workspace/data/DisResp.db')
df = pd.read_sql_table('DisasterResponse', engine)

# load model
model = joblib.load("/home/pavan/Downloads/workspace/models/classifier.pkl")

/home/pavan/Apps/anaconda3/lib/python3.8/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator CountVectorizer from version 0.23.2 when using version 0.23.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
/home/pavan/Apps/anaconda3/lib/python3.8/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator TfidfTransformer from version 0.23.2 when using version 0.23.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
/home/pavan/Apps/anaconda3/lib/python3.8/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.23.2 when using version 0.23.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
/home/pavan/Apps/anaconda3/lib/python3.8/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 0.23.2 when using version 0.23.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
/home/pavan/Apps/anaconda3/lib/python3.8/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator MultiOutputClassifier from version 0.23.2 when using version 0.23.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
/home/pavan/Apps/anaconda3/lib/python3.8/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator Pipeline from version 0.23.2 when using version 0.23.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [37]:
list(df.columns[4:])

['related',
 'request',
 'offer',
 'aid_related',
 'medical_help',
 'medical_products',
 'search_and_rescue',
 'security',
 'military',
 'child_alone',
 'water',
 'food',
 'shelter',
 'clothing',
 'money',
 'missing_people',
 'refugees',
 'death',
 'other_aid',
 'infrastructure_related',
 'transport',
 'buildings',
 'electricity',
 'tools',
 'hospitals',
 'shops',
 'aid_centers',
 'other_infrastructure',
 'weather_related',
 'floods',
 'storm',
 'fire',
 'earthquake',
 'cold',
 'other_weather',
 'direct_report']

In [77]:
genre_counts = df.groupby('genre').count()['message']
genre_names = list(genre_counts.index)
newdf = pd.DataFrame()
newdf['column'] = list(df1)
newdf['count'] =   list(df1.sum(axis=0))

In [50]:
#df.sum(axis=0)[1]
df1 = df.drop(['id','message','original','genre'], axis =1)

In [78]:
newdf

                    column    count
0                  related  20282.0
1                  request   4474.0
2                    offer    118.0
3              aid_related  10860.0
4             medical_help   2084.0
5         medical_products   1313.0
6        search_and_rescue    724.0
7                 security    471.0
8                 military    860.0
9              child_alone      0.0
10                   water   1672.0
11                    food   2923.0
12                 shelter   2314.0
13                clothing    405.0
14                   money    604.0
15          missing_people    298.0
16                refugees    875.0
17                   death   1194.0
18               other_aid   3446.0
19  infrastructure_related   1705.0
20               transport   1201.0
21               buildings   1333.0
22             electricity    532.0
23                   tools    159.0
24               hospitals    283.0
25                   shops    120.0
26             aid_centers    309.0
27    other_infrastructure   1151.0
28         weather_related   7297.0
29                  floods   2155.0
30                   storm   2443.0
31                    fire    282.0
32              earthquake   2455.0
33                    cold    530.0
34           other_weather   1376.0
35           direct_report   5075.0
36                   total      0.0

In [76]:
df1.sum(axis=0)
list(df1.sum(axis=0))
list(df1)

['related',
 'request',
 'offer',
 'aid_related',
 'medical_help',
 'medical_products',
 'search_and_rescue',
 'security',
 'military',
 'child_alone',
 'water',
 'food',
 'shelter',
 'clothing',
 'money',
 'missing_people',
 'refugees',
 'death',
 'other_aid',
 'infrastructure_related',
 'transport',
 'buildings',
 'electricity',
 'tools',
 'hospitals',
 'shops',
 'aid_centers',
 'other_infrastructure',
 'weather_related',
 'floods',
 'storm',
 'fire',
 'earthquake',
 'cold',
 'other_weather',
 'direct_report',
 'total']